<% @favorites.each do |favorite| %>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <%= link_to hiragana_path(favorite.hiragana), data: { turbo: false } do %>
        <h2 class="card-title"><%= favorite.hiragana.character %></h2>
      <% end %>
      <div class="card-actions justify-end">
        <%= render 'favorites/favorite_buttons', hiragana: favorite.hiragana, favorite: favorite, from: 'favorites' %>
      </div>
    </div>
  </div>
<% end %>
