<% @hiraganas.each do |hiragana| %>
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <%= link_to hiragana_path(hiragana), data: { turbo: false } do %>
        <h2 class="card-title"><%= hiragana.character %></h2>
      <% end %>
      <div class="card-actions justify-end">
        <%= render 'favorites/favorite_buttons', hiragana: hiragana %> <!-- お気に入りボタンを追加 -->
        <%= button_to '削除', hiragana_path(hiragana), id: "button-delete-#{hiragana.id}", method: :delete, class: "btn bg-red-500 text-white" %>
      </div>
    </div>
  </div>
<% end %>
