<%# ひらがな一覧のカード %>
<% @hiraganas.each do |hiragana| %>
  <div class="card w-200 mb-4 bg-base-100 shadow-xl">
    <div class="card-body">
      <%= link_to hiragana_path(hiragana), data: { turbo: false } do %>
        <h2 class="card-title"><%= hiragana.character %></h2>
      <% end %>
      <div class="card-actions justify-end">
        <% favorite = current_user.favorites.find_by(hiragana_id: hiragana.id) %>
        <%= render 'favorites/favorite_buttons', hiragana: hiragana, favorite: favorite, from: nil %>
        <%= button_to '削除', hiragana_path(hiragana), id: "button-delete-#{hiragana.id}", method: :delete, class: "btn bg-red-500 text-white" %>
      </div>
    </div>
  </div>
<% end %>
