<div class="swiper-container max-w-4xl w-full">
  <div class="swiper-wrapper">
    <% @sign_languages.each do |sign_language| %>
      <% if sign_language.yubimoji.end_with?('.png') %>
        <div class="swiper-slide flex justify-center items-center">
          <%= image_tag sign_language.yubimoji, alt: "#{sign_language.character}の指文字", class: "swiper-image rounded-lg" %>
        </div>
      <% elsif sign_language.yubimoji.end_with?('.mp4') %>
        <div class="swiper-slide flex justify-center items-center">
          <video muted onended="handleVideoEnd(this)" class="swiper-video rounded-lg">
            <source src="<%= asset_path(sign_language.yubimoji) %>" type="video/mp4">
            お使いのブラウザは動画の再生をサポートしていません。
          </video>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
