    <%= link_to "戻る", mypage_path, class: "link link-neutral " %>
    <%= link_to "お気に入り", favorites_path, class: "link link-neutral" %>
  <h1>ひらがなを押すと指文字が再生されます<h1>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @hiraganas.present? %>
          <%= render 'hiragana' %>
        <% else %>
          <div class="mb-3">登録した単語がありません</div>
        <% end %>
      </div>
      <%= paginate @hiraganas %>
    </div>
  </div>
