<%= link_to '戻る', mypage_path, class: 'link link-neutral mb-4' %>
<body class="h-screen w-screen flex items-center justify-center">
  <main class="container px-5 flex flex-col items-center flex-grow">
    <div class="max-w-lg bg-gray-100 p-8 rounded-lg w-full">
      <%= form_with(url: hiraganas_path, local: true, class: 'new_board') do |form| %>
        <div class="mb-3">
          <%= form.text_field :character, class: 'input input-bordered input-primary w-full text-lg p-2', placeholder: '指文字に変換したいひらがなを入力', id: 'hiragana_character' %>
        </div>
        <div class="flex justify-end">
          <%= form.submit '登録', class: 'btn btn-primary', data: { disable_with: '登録' } %>
        </div>
      <% end %>
    </div>
  </main>
</body>