<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= form_with model: @hiragana, class: "new_board" do |f| %>
        <div class="mb-3">
          <%= f.text_field :character, class: "form-control" %>
        </div>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
