<%# ... %>

<style>
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img,
  .swiper-slide video {
    width: 100%;  /* 幅を50%に設定 */
    height: auto; /* 高さは自動的に調整する */
  }
</style>

<!-- 以下は変更なし -->
<%= link_to "戻る", hiraganas_path, class: "link link-neutral" %>
<div class="swiper-container">
  <div class="swiper-wrapper">
      <% @sign_languages.each do |sign_language| %>
        <% if sign_language.yubimoji.end_with?('.png') %>
          <div class="swiper-slide">
            <%= image_tag sign_language.yubimoji, alt: "#{sign_language.character}の指文字" %>
          </div>
        <% elsif sign_language.yubimoji.end_with?('.mp4') %>
          <div class="swiper-slide">
            <video muted onended="handleVideoEnd(this)">
              <source src="<%= asset_path(sign_language.yubimoji) %>" type="video/mp4">
              お使いのブラウザは動画の再生をサポートしていません。
            </video>
          </div>
        <% end %>
      <% end %>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<!-- Swiper JS -->
<script>

</script>
