/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.large-text {
  font-size: 2em; /* 既存のスタイル */ /* ここには要素を右に移動させたい距離を設定します */
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%; /* 画面の80%の幅に設定 */
}

.mypage-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* 画面の80%の幅に設定 */
}

body {
  padding-top: 120px; /* ヘッダーの高さに合わせて調整 */
}

.media-item {
  width: 100%;  /* 幅を親要素に合わせる */
  height: auto; /* 高さを自動的に調整 */
  object-fit: cover; /* 画像/動画を親要素に合わせてスケール */
}
