/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-margin-top {
  margin-top: 300px; /* ここには <header> 要素の高さと同じ値を設定します */
}

.main-margin-left {
  margin-left: 750px; /* ここには要素を右に移動させたい距離を設定します */
}

.large-text {
  font-size: 2em; /* 既存のスタイル */
  margin-left: 90px; /* ここには要素を右に移動させたい距離を設定します */
}